
.honeys-main {

    background-image: url(../img/body-bg.png);
}

.social-media {
    float: left;
    width: 100%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* font-family: 'Open Sans', sans-serif;*/

.social-media p {
    font-size: 14px;
    font-family: Myriad Pro;
    color: #f86868;
    margin-bottom: 0rem;
}

.social-media p i:first-child,
.social-media p i:last-child {
    color: black;
}

.social-media p i {
    font-size: 30px;
}

.social-media p i:first-child {
    margin-left: 20px;
}

.honeys-logo {
    float: left;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 28px
}

.meni-nav {
    float: left;
    width: 100%;
}

.meni-nav .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #f86868!important;
    float: left;
    width: 100%;
    padding: 0;
}

.meni-nav .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    background-color: black!important;
    color: white;
    /*kako da prosirim crnu pozadinu da ide iz coska*/
    padding-inline: 21px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    width: 100%;
}

.lupa button {
    background-color: black;
    padding: 0;
    border: none;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.lupa button i.fa.fa-search {
    color: #fff;
    top: -6px;
    position: relative;
    font-size: 18px;
}


/* 
.lupa .fa.fa-search {

    color: white;
} */

.slider-honeys {
    float: left;
    width: 100%;
}

.meni-nav li {
    padding: 15px 25px;
}

.meni-nav li a {
    padding: 0px;
    font-size: 18px;
}

.meni-nav li.active {
    background-color: black;
    color: white;
}

.meni-nav li.active a {
    color: white !important;
}

.slider-honeys .carousel-control-next-icon {
    background-image: url(../img/carousel-arrow-right.png);
    width: 60px;
    height: 60px;
    right: -84px;
}

.slider-honeys .carousel-control-prev-icon {
    background-image: url(../img/carousel-arrow-left.png);
    width: 60px;
    height: 60px;
    
}

.slider-honeys a.carousel-control-prev {
    left: -84px;
}

.slider-honeys a.carousel-control-next {
    right: -84px;
}

.slider-honeys .carousel-indicators{
    visibility: hidden;
}

.text-slider{
    text-transform: uppercase;
    line-height: 1;
    position: absolute;
    top: 70px;
    left:auto;
    right:100px;
}
.text-slider h5{
    font-size: 56px;
    font-weight:700;
}
.text-slider p:nth-of-type(1){
    font-size:42pt;
}
.text-slider p:nth-of-type(2){
    font-size:62pt;
    color:#47aba1;
}



.ispod-slika{
    float: left;
    width: 100%;
}


/*
.ispod-slika .prva-slika{
    width:577px;
    height:364px;
}


.ispod-slika .druga-slika{
    width:394px;
    height:350px;
}
*/
.ispod-slika .prva-slika .druga-slika{
   margin-top: 8px;
   vertical-align: middle;
}

.text-slider button:focus {
    outline: none;
    border: none;
    border-color: transparent;
    box-shadow: transparent !important;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.text-slider button{
    background: transparent;
    border-color: transparent;

}

.ispod-slika .col-7, .ispod-slika .col-5{
    padding: 0px;
    float: left;
    width:100%;
    
}

.ispod-slika .col-7 .prva-slika{
    width:100%;
    float: left;
    height:350px;

}
.ispod-slika .col-5 .druga-slika{
    width:100%;
    float: left;
    height:350px;
}