.honeys-main {
    background-image: url(../img/body-bg.png);
}

.social-media{
    float: left;
    width: 100%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* font-family: 'Open Sans', sans-serif;*/
.social-media p{
    font-size:14px;
    font-family:Myriad Pro;
    color:#f86868;
    margin-bottom: 0rem;
}

.social-media p i:first-child, .social-media p i:last-child{
    color: black;
}

.social-media p i{
    font-size:30px;

}

.social-media p i:first-child{
    margin-left:20px;
}






.honeys-logo{
    float: left;
    width: 100%;
    background-color:white;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 28px

}

.meni-nav .navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #f86868!important;
    float: left;
    width: 100%;
   
}

.meni-nav .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand{
    background-color:black!important;
    color: white;                           /*kako da prosirim crnu pozadinu da ide iz coska*/
    padding-inline:21px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    width: 100%;
}
.lupa{
    background-color:black;
}

.lupa .fa.fa-search{      /* kako da promjenim pozdainu kod lupe u crnu??*/
    color: white;
}

.carousel-inner{
    
    width: 100%;
}
